<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.szj.HistorytimeMapper">
	<insert id="insert" parameterType="int">
		INSERT INTO `historytime` VALUES(NULL,#{userid},DEFAULT)
	</insert>
	<select id="gettime" resultType="Historytime">
		SELECT * FROM `historytime` WHERE 1=1
		<if test="time!=null and time!=''">
			and `time` LIKE CONCAT('%',#{time},'%')
		</if>
		AND `userid`=#{userid} ORDER BY `time` DESC LIMIT 0,7
	</select>
</mapper>
