<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.ws.GiftMapper">
	<select id="findAll" resultType="gift" parameterType="integer">
		SELECT * FROM gift
		WHERE
		1=1
		<if test="needintegral>0">
		AND needintegral &lt; #{needintegral}
		</if>
	</select>
	<insert id="insert">
		INSERT INTO
		gift(giftname,avatarimg,needintegral,giftnumber)
		VALUES(#{giftname},#{avatarimg},#{needintegral},#{giftnumber})
	</insert>
	<delete id="del" parameterType="integer">
		delete from gift where id=#{id}
	</delete>
</mapper>
