<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.ws.InventoryMapper">
	<select id="queryListByCdID" resultType="Inventorytransaction">
		SELECT
		i.`id`,u.`username`,cd.`commodityname`,cd.`propertyname`,i.`transactiontype`,i.`transactionnum`,i.`transactiontime`
		,ut.`totalinventory` FROM inventorytransaction i ,USER u,commodity
		cd
		,utheircomm ut WHERE
		u.`userid`=i.`userid` AND
		cd.`commodityid`=i.`commodityid`
		and
		i.`userid`=#{userId}
		AND
		ut.`userid`=i.`userid` AND ut.`commodityid`=i.`commodityid`
		<if test="cdID>0">
			and i.`commodityid`=#{cdID}
		</if>
	</select>
	<insert id="insert" parameterType="Inventorytransaction">
		INSERT INTO
		inventorytransaction(userid,commodityid,transactiontype,transactionnum,transactiontime)
		VALUES(#{userid},#{commodityid},#{transactiontype},#{transactionnum},#{transactiontime})
	</insert>
</mapper>
