<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.pjj.TransactiontypeMapper">
<select id="findall" resultType="Transactiontype">
SELECT  `id`, `typename` FROM `transactiontype` 
</select>
</mapper>