#hu1 ul {
	background-color: rgb(236, 240, 245);
	height: 30px;
}

td {
	width: 400px;
}

tr {
	height: 50px;
}

.row>span {
	text-align: right;
	padding: 5px;
}

#searchbutton {
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 15px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px
		rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	margin-left:15px;
	width: 80px;
	padding: 0 15px;
	height: 27px;
	border: 1px solid #7ba92c;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	background: #87c212 ;
}

input[type='text'] {
	outline: none;
	border: 1px solid #8ab2d5;
}

select {
	width: 200%;
}
