h3>span {
	font-size: 15px;
	color: #9d9d9d;
}

#tou>p>span {
	color: #f7f3f2;
	background-color: #35a4a3;
	border: #35a4a3 5px solid;
	font-size: 14px;
	border-radius: 5px;
}
.sec{
	padding-left:10%;
		background-color:rgb(236, 240, 245);
		width:80%;
		
}
.secBox{
	
	border-radius: 5px;
	width:100%;
}


