*{
    margin: 0px;
    padding: 0px;
}

/* ------------------------- */

.category {
	background: #9f9ba7 none repeat scroll 0 0;
	color: #fff;
	font-size: 14px;
	padding: 10px;
	display: grid;
	cursor: pointer;
}

.category_text {
	float: left;
	font-size: 14px;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
	line-height: 21px;
}

.i-bar {
	float: right;
	font-size: 21px;
	line-height: 1;
}

#category-menu,.main-navigation {
	background: #f2f2f2;
	width: 100%;
	padding: 6px 0;
}

#column-left .nav>li>a {
	padding: 10px 0px;
}

#column-left .nav>li,#category-menu-responsive .nav>li {
	margin: 0 20px;
	border-bottom: 1px dashed #ccc;
}

#column-left .nav>li:last-child {
	border: none;
}

/* ------------------------------ */

/* Outline Out */
.hvr-outline-out {
  position: relative;
  background: #FDA30E;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #FDA30E solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before,.hvr-outline-out:focus:before,.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
.wed-brand p i {
    text-decoration: line-through;
}
.wed-brand p {
    font-size: 21px;
    color: #000;
    text-align: center;
}
.wed-brand p a{
    color: #fff;
    padding: 9px 0px;
    display: block;
    text-transform: uppercase;
    margin: 25px auto 0;
    font-size: 16px;
    width: 50%;
	text-decoration:none;
}
.wed-brandtwo h4{
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.wed-brandtwo {
    position: absolute;
    top: 36%;
    left: 20%;
}
.wed-brandtwo p {
    font-size: 45px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.new-gd-middle img {
    width: 100%;
}
.new-levis {
    border: 1px solid #D2D2D2;
    background: #fff;
    padding: 45px 28px;
}
.mid-text {
    float: left;
    width: 48%;
    margin: 0 5%;
}
.mid-text h4 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.5em;
	margin-bottom:15px;
}
.mid-text h4 span{
	display:block;
}
.mid-img {
    float: left;
    width: 35%;
    margin: 13% 3% 0;
}
.mid-text a {
    font-size: 16px;
    color: #fff;
    padding: 8px 18px;
}
.new-levis:nth-child(2) {
    margin-top: 35px;
}
/*-- //new_arrivals --*/
/*-- content --*/
.content-lgrid,.content-img-left,.content-rgrid{
	padding:0;
}
.content-lgrid{
	width:66.66%;
}
.content-rgrid {
    width: 33.334%;
}
.content-img-right {
    padding: 104px 50px 0px;
    background: #f7f7f7;
    text-transform: uppercase;
	min-height:343px;
}
/* CSS3 Hover Effects */
.img-box, .info-box {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.img-box img, .info-box img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.img-box {
  position: relative;
}

.info-box {
  top: 0;
  left: 0;
  position: absolute;
}
.info-box .info-content {
  display: block;
  position: relative;
  padding: 0%;
  float: left;
  left: 50%;
  top: 50%;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.separator {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.5);
    clear: both;
}

.content-grid-effect {
  display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: hidden;
}
.content-grid-effect .info-content {
  z-index: 2 !important;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.content-grid-effect .img-box:after, .content-grid-effect .img-box:before, .content-grid-effect .info-box:after, .content-grid-effect .info-box:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.content-grid-effect.horizontal .img-box:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;

}
.content-grid-effect.horizontal .img-box:after {
  top: 25%;
  left: 0;
  width: 100%;
  height: 25%;

}
.content-grid-effect.horizontal .info-box:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 25%;

}
.content-grid-effect .horizontal .info-box:before {
  top: 75%;
  left: 0;
  width: 100%;
  height: calc(25% + 1px);

}
.content-grid-effect .vertical .img-box:before {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;

}
.content-grid-effect .vertical .img-box:after {
  top: 0;
  left: 25%;
  width: 25%;
  height: 100%;

}
.content-grid-effect.vertical .info-box:after {
  top: 0;
  left: 50%;
  width: 25%;
  height: 100%;

}
.content-grid-effect.vertical .info-box:before {
  top: 0;
  left: 75%;
  width: calc(25% + 1px);
  height: 100%;

}

.content-grid-effect:hover .info-content {
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.content-img-right h3 {
    color: #000;
    font-size: 24px;
}
.content-img-right h3 span {
    color: #FDA30E;
    display: block;
    font-size: 51px;
	margin:15px 0;
}
.info-content h4 {
    font-size: 28px;
    color: #FDA30E;
    text-transform: uppercase;
}
.info-content p {
    color: #fff;
    text-align: center;
    font-size: 26px;
}
.info-content a {
    text-align: center;
    padding: 10px 22px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
/*-- //content --*/
/*-- easy responsive tabs style--*/
.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
text-align:center;
  list-style: none;
    margin: 0 0 3em 0;
    padding: 0;
}
.resp-tab-item{


}





.product-men img {
    width: 100%;
}

/*-- effect --*/
.men-pro-item {
    position: relative;
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding-bottom: 20px;
}
.men-thumb-item {
    position: relative;
}
.item-info-product {
    text-align: center;
}
.men-thumb-item::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item .pro-image-front {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.pro-image-back {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
    z-index: 10;
}
.product-new-top {
    background: #868686 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    right: 0;
    padding: 0 10px 1px;
    position: absolute;
    text-transform: lowercase;
    top: 0;
    z-index: 10;
}
.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    bottom: -40px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.link-product-add-cart {
    background:#000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro > ul > li {
    display: inline-block;
}
.inner-men-cart-pro ul li a {
    color: #fff;
    transition: all 0.5s ease-out 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}
.men-thumb-item:hover {
    cursor: pointer;
}
.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .pro-image-front {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
}
.men-thumb-item:hover .pro-image-back {
    transform: rotateY(0deg);
    opacity: 1;
    visibility: visible;
    background: #f7f7f7;
}
.men-thumb-item img {
    transition: all 1s ease-out 0s;
    padding: 52px 50px 20px;
}
.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}


.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 83.5%;
}
.link-product-add-cart:hover {
    background: #FDA30E none repeat scroll 0 0;
    color: #fff;
}
/*-- //effect --*/

.info-product-price {
    margin: 10px 0;
}
.info-product-price span {
    color: #35a4a3;
    font-size: 23px;
}
.info-product-price del {
    color: #A7A7A7;
    margin-left: 15px;
}

a.single-item{
	color:#fff;
    font-size: 16px;
    padding: 3px 14px;
	text-decoration:none;
}
