<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.szj.StatisticalMapper">

<select id="kucunB" resultType="Commodity">
SELECT SUM(`warehouseinventory`) as warehouseinventory,SUM(`putawayinventory`) as putawayinventory,SUM(`totalinventory`) as totalinventory FROM `utheircomm`
</select>

<select id="dailiCount" resultType="int">
SELECT COUNT(1) FROM `user` WHERE `roleid`=2 OR `roleid`=3 OR `roleid`=4
</select>
<select id="kehuCount" resultType="int">
SELECT COUNT(1) FROM `user` WHERE `roleid`=5
</select>
<select id="userCount" resultType="int">
SELECT COUNT(1) FROM `user`
</select>

<select id="BilCount" resultType="Bill">
		SELECT
		MONTH(b.`transactiontimeend`) as yue,COUNT(1) as billCount
		FROM `bill`
		b,`wallet` w
		WHERE b.`billid`=w.`billid`
		GROUP BY
		MONTH(b.`transactiontimeend`)
		ORDER BY MONTH(b.`transactiontimeend`)
	</select>
<select id="tuikuanCount" resultType="Bill">
		SELECT
		MONTH(b.`transactiontimeend`) AS yue,COUNT(1) AS billCount
		FROM `bill`
		b,`wallet` w
		WHERE b.`billid`=w.`billid` AND w.`transactionid`=4
		GROUP BY
		MONTH(b.`transactiontimeend`)
	</select>
	<select id="tixianMoney" resultType="Bill">
		SELECT
		MONTH(b.`transactiontimeend`) AS yue,SUM(`totalamount`) AS totalamount
		FROM `bill`
		b,`wallet` w
		WHERE b.`billid`=w.`billid` AND w.`transactionid`=3
		GROUP BY
		MONTH(b.`transactiontimeend`)
	</select>
	<select id="czMoney" resultType="Bill">
		SELECT
		MONTH(b.`transactiontimeend`) AS yue,SUM(`totalamount`) AS totalamount
		FROM `bill`
		b,`wallet` w
		WHERE b.`billid`=w.`billid` AND w.`transactionid`=6
		GROUP BY
		MONTH(b.`transactiontimeend`)
	</select>
</mapper>
