<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.lk.FeedbackMapper">
	<select id="getComments" resultType="Comment">
		SELECT f.*,f.`static`
		staticid,(SELECT
		u.`username` FROM `user` u WHERE
		f.`recipientsid`=u.`userid`)
		recipientsidname,
		(SELECT u.`username` FROM
		`user` u WHERE
		f.`addresser`=u.`userid`)
		addressername
		FROM feedback
		f,`user` u
		WHERE
		f.`recipientsid` = #{userid} AND
		f.`recipientsid`=u.`userid`
		ORDER BY `time` DESC
	</select>
	<delete id="remove">
		DELETE
		FROM
		`agent`.`feedback`
		WHERE `id` = #{id}
	</delete>
	<select id="showone" resultType="Comment">
		SELECT * FROM feedback WHERE id
		= #{id}
	</select>
	<insert id="addComment">
		INSERT INTO `feedback`
		VALUES(NULL,#{fasong},#{shou},#{title},#{context},NULL,NULL)
	</insert>
	<update id="updatestatic">
		UPDATE
		`agent`.`feedback`
		SET
		`static` = 1
		WHERE `id` = #{id} ;
	</update>
</mapper>
 