<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.pjj.BillMapper">
	<select id="findall" resultType="Bill">
		SELECT (SELECT username FROM `user` WHERE userid=b.`sellid`) sellName, b.`billid`,b.`sellid`, b.`buyid`,b.`state`,b.`transactiontimestart`,b.`transactiontimeend`,b.`commodityid`,b.`number`,b.`totalamount`,c.commodityid,c.commodityname,c.propertyname,c.commodityprice,c.commodityavatar,u.userName FROM `bill` b,commodity c,user u 
		where b.`commodityid`=c.commodityid and b.buyid=u.userid 
		<if test="roleId>0">
		and b.`sellid`=#{userId}
		</if>
	</select>
	
	<select id="findallbuy" resultType="Bill">
		SELECT (SELECT username FROM `user` WHERE userid=b.`buyid`) buyName, b.`billid`,b.`sellid`, b.`buyid`,b.`state`,b.`transactiontimestart`,b.`transactiontimeend`,b.`commodityid`,b.`number`,b.`totalamount`,c.commodityid,c.commodityname,c.propertyname,c.commodityprice,c.commodityavatar,u.userName FROM `bill` b,commodity c,user u 
		where b.`commodityid`=c.commodityid and b.buyid=u.userid 
		<if test="roleId>0">
		and b.`buyid`=#{userId}
		</if>
		ORDER BY transactiontimestart DESC
	</select>
	
	<select id="getlist" resultType="Bill">
		SELECT (SELECT username FROM `user` WHERE userid=b.`sellid`) sellName, b.`billid`,b.`sellid`, b.`buyid`,b.`state`,b.`transactiontimestart`,b.`transactiontimeend`,b.`commodityid`,b.`number`,b.`totalamount`,c.commodityid,c.commodityname,c.propertyname,c.commodityprice,c.commodityavatar,u.userName FROM `bill` b,commodity c,USER u 
		WHERE b.`commodityid`=c.commodityid AND b.buyid=u.userid 
		<if test="roleId>0">
		AND b.`sellid`=#{userId}
		</if>
		<if test="billid>0">
		and b.`billid`=#{billid}
		</if>
		<if test="commodityName!=null and commodityName!=''">
		and c.`commodityName`=#{commodityName}
		</if>
		<if test="userName!=null and userName!=''">
		and u.`userName`=#{userName}
		</if>
		<if test="address!=null and address!=''">
		and b.address like CONCAT('%',#{address},'%');
		</if>
	</select>
	
	<select id="getlist1" resultType="Bill">
		SELECT (SELECT username FROM `user` WHERE userid=b.`sellid`) sellName, b.`billid`,b.`sellid`, b.`buyid`,b.`state`,b.`transactiontimestart`,b.`transactiontimeend`,b.`commodityid`,b.`number`,b.`totalamount`,c.commodityid,c.commodityname,c.propertyname,c.commodityprice,c.commodityavatar,u.userName FROM `bill` b,commodity c,USER u 
		WHERE b.`commodityid`=c.commodityid AND b.buyid=u.userid and b.state=#{state}
		<if test="roleId>0">
		AND b.`sellid`=#{userId}
		</if>
		ORDER BY transactiontimestart DESC
	</select>
	
	<select id="selectbill" resultMap="bil">
	SELECT b.*,w.*,c.* FROM `bill` b,`wallet` w,`commodity` c WHERE b.`billid`=w.`billid` AND b.`commodityid`=c.`commodityid` AND b.`billid`=#{billid}
	</select>
	
	<resultMap type="Bill" id="bil">
	<id property="billid" column="billid"/>
	<result property="transactiontimestart" column="transactiontimestart"/>
	<result property="transactiontimeend" column="transactiontimeend"/>
	<result property="commodityName" column="commodityName"/>
	<result property="commodityprice" column="commodityprice"/>
	<result property="number" column="number"/>
	<result property="totalamount" column="totalamount"/>
	<result property="commodityavatar" column="commodityavatar"/>
	<result property="state" column="state"/>
	<association property="wallet" javaType="Wallet" >
	<id property="walletid" column="walletid"/>
	<result property="transactiontimeend" column="transactiontimeend"/>
	</association>
	</resultMap>
	
	<select id="getlist2" resultType="Bill">
		SELECT (SELECT username FROM `user` WHERE userid=b.`buyid`) sellName, b.`billid`,b.`sellid`, b.`buyid`,b.`state`,b.`transactiontimestart`,b.`transactiontimeend`,b.`commodityid`,b.`number`,b.`totalamount`,c.commodityid,c.commodityname,c.propertyname,c.commodityprice,c.commodityavatar,u.userName FROM `bill` b,commodity c,USER u 
		WHERE b.`commodityid`=c.commodityid AND b.buyid=u.userid and b.state=#{state}
		<if test="roleId>0">
		AND b.`buyid`=#{userId}
		</if>
		ORDER BY transactiontimestart DESC
	</select>
	
	<delete id="delete1" >
	  DELETE FROM `bill` WHERE `billid` = #{billid}
	</delete>
</mapper>