<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.lk.ThehomeMapper">
	<select id="getCommlist" resultType="Commodity">
		SELECT propertyname FROM `commodity` GROUP BY propertyname 
	</select>
	<select id="getdityList" resultType="Commodity" parameterType="string">
	 SELECT utheircomm.*,role.`discount`,`user`.`username`,commodity.* 
		FROM `utheircomm`,`user`,role,commodity
		WHERE utheircomm.`userid` = `user`.`userid` 
		AND `user`.`roleid`=role.`roleid` 
		AND utheircomm.`commodityid`=commodity.`commodityid` 
		<if test="commodityname!=null and commodityname!=''">
		AND commodity.`commodityname` like CONCAT('%',#{commodityname},'%')
		</if>
	</select>
</mapper>