<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dls.dao.ws.CommodityMapper">
	<select id="findAll" resultType="Commodity" parameterType="Integer">
		SELECT
		u.`id`,cd.commodityid,cd.`commodityname`,cd.`propertyname`,u.`totalinventory`,u.`warehouseinventory`,u.`putawayinventory`,u.`state`,cd.commodityavatar
		FROM utheircomm u ,commodity cd
		WHERE
		cd.`commodityid`=u.`commodityid`AND u.`userid`=#{id}
	</select>
	<update id="update">
		UPDATE utheircomm SET
		warehouseinventory=#{warehouseinventory}
		,`putawayinventory`=#{putawayinventory} where userid=#{userid} and
		commodityid=#{commodityid}
	</update>
	<select id="getCommodity" resultType="Commodity">
		SELECT
		u.`id`,cd.commodityid,cd.`commodityname`,cd.`propertyname`,u.`totalinventory`,u.`warehouseinventory`,u.`putawayinventory`,u.`state`
		FROM utheircomm u ,commodity cd
		WHERE
		cd.`commodityid`=u.`commodityid`AND u.`userid`=#{userid}
		and
		cd.commodityid=#{commodityid}

	</select>
	<select id="findList" resultType="Commodity">
		SELECT
		cd.`commodityid`,u.`totalinventory`,cd.`propertyname`,cd.`commodityavatar`,cd.`commodityname`,cd.integral,u.`state`,u.`isstick`,u.`ispinkage`,u.`isintegral`,u.`sales`
		FROM commodity
		cd
		,utheircomm u WHERE
		cd.`commodityid`=u.`commodityid`

		AND
		u.`userid`=#{userid}
		<if test="state!=null">
			AND state=#{state}
		</if>
		<if test="commodityname!=null and commodityname!=''">
			AND cd.`commodityname`=#{commodityname}
		</if>
		<if test="propertyname!=null and propertyname!=''">
			AND cd.`propertyname`=#{propertyname}
		</if>

	</select>
	<select id="findType" resultType="string">
		SELECT propertyname FROM
		commodity GROUP BY propertyname
	</select>
	<select id="countUpOrDown" resultType="int">
		SELECT COUNT(1) FROM
		utheircomm WHERE state=#{state} and userid=#{userid}
	</select>
	<select id="findAllVouchers" resultType="voucher">
		select * from vouchers
	</select>
	<insert id="CommodityAdd">
		INSERT INTO
		commodity(commodityname,propertyname,commodityprice,commodityavatar,integral,vouchersid)
		VALUES(#{commodityname},#{propertyname},#{commodityprice},#{commodityavatar},#{integral},#{vouchersid})
	</insert>
	<select id="countByName" parameterType="Commodity" resultType="Commodity">
		SELECT * FROM commodity WHERE commodityname=#{commodityname}
	</select>
	<insert id="uthAdd" parameterType="commodity">
		INSERT INTO utheircomm(userid,commodityid,number)
		VALUES(#{userid},#{commodityid},#{number})
	</insert>
</mapper>
